{% extends 'base.html' %}

{% block head %}
<title>Budget - Add {{tag}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings/user.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/settings/user.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="settings-user-section">
    <div class="header-section">
        <h1>USERS</h1>
        <p>2 users</p>
    </div>

    <div class="adduser-container">
        <div class="adduser-header">
            <h4>Add User</h4>
            <p>Removing a user may delete and affect user data.</p>
        </div>
        <form action="#" method="post">
            <div class="useroption">
                <input type="radio" name="useroption" id="useroption0">
                <label for="useroption0"><code>Heli</code></label>
            </div>
            <div class="useroption">
                <input type="radio" name="useroption" id="useroption1">
                <label for="useroption1"><code>John</code></label>
            </div>
            <div class="newuseroption" id="newuseroption"></div>
            <div class="usersbuttons">
                <a id="adduser"><strong>+</strong></a>
                <a id="removeuser"><strong>-</strong></a>
            </div>
        </form>
    </div>
</div>
{% endblock %}