{% extends 'base.html' %}

{% block head %}
<title>Budget - Add {{tag}}</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings/user.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/settings/user.js') }}" defer></script>
{% endblock %}

{% block body %}
<div class="settings-user-section">
    <div class="header-section">
        <h1>Users</h1>
        <p>2 users</p>
    </div>
    <div>
        <ul class="users-section">
            <li class="user-container">
                <div class="user-color"></div>
                <div class="user-name"><p>John</p></div>
            </li>
            <li id="add-user-btn" class="add-container">
                <button type="button" onclick="expandAddUser()">add user</button>
            </li>
            <li id="add-user-form" class="add-user-form" style="display: none;">
                <h3>Add User</h3>
                <input type="text" class="userNameInput" placeholder="User Name" autofocus required>
                <input type="color">
            </li>
        </ul>

    </div>
</div>
{% endblock %}