{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/import_file.css') }}">
{% endblock %}

<div class="popup-container-overlay" id="importfileform">
    <div class="popup-container">
        <form class="form-container" method="POST" action="/import" enctype=multipart/form-data>
            <h1>IMPORT FILE</h1>
            <label for="user">User</label>
            <select name="user" id="user"></select>
            <label for="bank">Bank</label>
            <select name="bank" id="bank"></select>
            <input type="file" name="file" , id="file" accept=".csv, .xls, .xlsx" required>
            <button>Save</button>
        </form>
    </div>
</div>