@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');        
:root{
    --sidebar-clr: #1d2025 ;
    --base-clr: #222831;
    --cards-clr: #393E46;
    --icons-clr: #F3EEEA;
    --description-clr: #51565f;
    --text-clr: #EEEEEE;
    --title-clr: #F6F6F6;
    --selected-clr: #B8572C;
    --button-clr: #393E46;
    --button-border-clr: #14161a;
}
*{
    margin: 0;
    padding: 0;
}

html{
    font-family:  "Montserrat";
    line-height: 1.5rem;
}
body{
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--base-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}
main{
    padding: min(30px, 7%);
}
main h2{
  font-weight: bold;
  font-size:x-large;
  color: var(--text-clr)
}
main p {
    margin-top: 5px;
    margin-bottom: 5px;
}

#sidebar{
    box-sizing: border-box;
    height: 100vh;
    width: 50px;
    background-color: var(--sidebar-clr);
    border-right: 1px solid var(--cards-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul{
    list-style: none;
}

#sidebar ul li.active a{
    color: var(--selected-clr);
    svg{
        fill: var(--selected-clr);
    }
}

#sidebar a{
    border-radius: .5em;
    text-decoration: none;
    color: var(--icons-clr);
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 125%;
}

#sidebar svg{
    flex-shrink: 0;
    fill: var(--icons-clr);
}

#sidebar a:hover{
    svg{
        fill: var(--selected-clr);
    }
}
