@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root{
    --sidebar-clr: #1c1d22;
    --primary-clr: #222327;
    --secondary-clr: #2a2b2f;
    --text-clr: #f6f7f9;
    --description-clr: #6b6c70;
    --warning-clr: #FB4141;
    --success-clr:#81A263;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-family:  "Roboto";
    line-height: 1.5rem;
}

body{
    line-height: 1.5;
    min-height: 100vh;
    min-height: 100dvh;
    background-color: var(--primary-clr);
    color: var(--text-clr);
    display: grid;
    grid-template-columns: auto 1fr;
}
h1,
h2,
h3,
p,
ul,
ol {
    margin: 0 0 1rem;
}
main{
}
main header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: .8rem 2rem;
    position: relative;
    h4{
        color: var(--text-clr);
        font-weight: bold;
        span{
            font-weight: normal;
            color: var(--description-clr);
            padding-left: .3rem;
            color: var(--description-clr);
            font-weight: 600;
            font-size: 14px;
        }
    }
    p{
        color: var(--description-clr);
        margin-right: 56px;
        font-size: 16px;
    }
}



#sidebar {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 50px;
    background-color: var(--sidebar-clr);
    display: flex;
    align-items: center;
    justify-content: center;
}

#sidebar ul {
    list-style: none;
}

#sidebar ul li.active a {
    background-color: var(--secondary-clr);
    border-radius: 100%;
    svg {
        fill: var(--text-clr);
    }
}

#sidebar a {
    border-radius: .5em;
    text-decoration: none;
    color: var(--secondary-clr);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 80%;
    padding: 8px;
}

#sidebar svg {
    flex-shrink: 0;
    fill: var(--description-clr);
}

#sidebar a:hover {
    svg {
        fill: var(--text-clr);
    }
}

/* Alerts */
.alert-container {
    position: fixed;
    display: flex;
    bottom: 20px;
    left: 5rem;

}

.alert-error, .alert-success{
    display: flex;
    align-items: center;
    border-radius: 4px;
    color: var(--text-clr);
    margin-bottom: 15px;
    box-shadow: 0 8px 20px -4px rgba(0, 0, 0, 0.4);
    padding: 20px;
    background-color: var(--secondary-clr);
    svg{
        margin-right: 1rem;
    }
}
.alert-error {
    svg{
        fill: var(--warning-clr);
    };
}

.alert-success {
    svg{
        fill: var(--success-clr);
    };
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: var(--description-clr);
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: var(--text-clr);
}