#user_filter{
    border: none;
    background: transparent;
    outline: none;
    border-radius: 8px;
    color: var(--description-clr);
    padding: 5px 0 5px 5px;
    text-align: center;
    font-size: 1em;
    margin-left: 1.4em;
}
#user_filter:hover{
    background-color: var(--secondary-clr);
    color: var(--text-clr);
    cursor: pointer;
}
.date-pagination{
    display: flex;
    align-items: center;
    a:hover, input[type='month']:hover{
        background-color: var(--secondary-clr);
        color: var(--text-clr);
        svg{fill: var(--text-clr);}
    }
    a, input[type='month']{
        display: flex;
        font-size: 1.14em;
        padding: 0 8px;
        text-align: center;
        border: none;
        border-radius: 4px;
        background-color: transparent;
        color: var(--description-clr);
        justify-content: center;
        align-items: center;
        background : "transparent";
        cursor: pointer;
        appearance : "none";
        outline : "none";
        font-weight: bold;
        svg{
            fill: var(--description-clr);
        }
    }
    input[type="month"]::-webkit-inner-spin-button,
    input[type="month"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
.header-buttons{
    display: flex;
    button{
       display: flex;
       color: var(--text-clr);
       padding: 3px 9px;
       margin-right: 10px;
       font-size: 1.14em;
       justify-content: center;
       align-items: center;
       background-color: transparent;
       border: none;
       border-radius: 8px;
       cursor: pointer;
    }
    svg{
        fill: var(--description-clr);
    }
    button:hover{
       background-color: var(--secondary-clr);
       svg{
        fill: var(--text-clr)
       }
    }
}
.budget-table-and-organizer{
    margin: 0.8rem 0 0 0;
    display: flex;
    width: 100%;
}
.budget-table{
    background-color: var(--primary-clr);
    border-radius: 14px;
    padding: 2rem;
    width: 75%;
}
.organizer{
    width: 25%;
}
.budget-table-header{
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: var(--primary-clr);
}
.budget-table-header-labels {
    width: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
    padding-bottom: 0.2rem;
    .budget-table-cell{
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        color: var(--description-clr);
    }
}
.budget-table-cell{
    align-items: center;
    overflow: hidden;
    box-sizing: border-box;
}

.category, .subcategory{
    flex: 1;
    box-sizing: border-box;
    text-align: left;
    padding: 0 0 0 .875rem;
    width: auto;
}

.assigned, .activity, .available{
    justify-content: flex-end;
    text-align: right;
    width: 18%;
}
.assigned, .activity{
    padding: 0 0 0 1rem;
}
.available{
    padding: 0 4rem 0 1rem;
}
.budget-table-row-category, .budget-table-row-subcategory{
    width: 100%;
    display: flex;
    overflow: hidden;
    box-sizing: border-box;
}
.budget-table-row-category{
    background-color: var(--secondary-clr);
    padding: 0.3rem 0 ;
    border-radius: 6px;
    margin-top: 10px;
}
.budget-table-row-category:first-of-type{
    margin-top: 0;
}

.budget-table-row-category .category{
    font-weight: 500;
    font-size: 1rem;
}
.budget-table-row-category .assigned,
.budget-table-row-category .activity,
.budget-table-row-category .available{
    font-weight: 400;
}
.budget-table-row-subcategory:last-of-type{
    border-bottom: none;
}
.budget-table-row-subcategory{
    font-size: 0.93rem;
    font-weight: 300;
    border-bottom: 2px dashed var(--secondary-clr);
}

.positive{
    color: var(--success-clr);
}
.negative{
    color: var(--warning-clr);
}
.inactive{
    color: var(--description-clr);
}