.header-buttons{
    display: flex;
    button{
       display: flex;
       color: var(--text-clr);
       padding: 3px 9px;
       margin-right: 10px;
       justify-content: center;
       align-items: center;
       background-color: transparent;
       border: none;
       border-radius: 8px;
       cursor: pointer;
    }
    button:hover{
       background-color: var(--secondary-clr);
    }

}

.transactions-content-container{
    margin: 0 5px;
}

.filter-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.date-pagination{
    a:hover, input[type='month']:hover{
        background-color: var(--secondary-clr);
    }
    a, input[type='month']{
        text-align: center;
        border: none;
        border-radius: 4px;
        padding: 10px 7px;
        background-color: transparent;
        color: var(--text-clr);
        font-size: 16px;
        justify-content: center;
        align-items: center;
        background : "transparent";
        cursor: pointer;
        appearance : "none";
        outline : "none";
        font-weight: bold;
    }
    input[type="month"]::-webkit-inner-spin-button,
    input[type="month"]::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }
}
@keyframes fadeIn {
  from {
    opacity: 0;
    background-color: "#61876E";
  }
  to {
    opacity: 1;
    background-color: transparent;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.transactions-container{
    display: flex;
    justify-content: center;

}
table{
    border-spacing: 0;
    border-radius: 14px;
    padding: 0 15px 5px;
    
    input[type="date"]{
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;
    }

    thead tr th{
        text-transform: uppercase;
        background-color: var(--primary-clr);
        color: var(--description-clr);
        font-weight: 500;
        text-transform: uppercase;
        font-size: 14px;
        overflow: hidden;
        padding: 10px 10px;
        align-items: center;
        text-align: left;
        position:sticky;
        top: 0;
        z-index: 100;
    }
    tr td{
        border-bottom: 2px dashed var(--secondary-clr);
        padding: 5px 10px;
        font-size: 0.93rem;
        font-weight: 300;
        opacity: 0;
        animation: fadeIn 0.8s ease-in forwards;
        animation-delay: calc(0.3s * var(--index));
        overflow: hidden;
        overflow-wrap: break-word;
    }
    tbody tr td select{
        font-family:  "Montserrat";
        font-size: 0.93rem;
        font-weight: 300;
        border: none;
        background: transparent;
        outline: none;
        appearance: none;
        color: white;

    }
    tbody tr td select[data-color]{
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 8px;
        text-align: center;
    }
    tbody tr td[data-currency]{
        text-align: right;
    }
    tbody tr td span{
        opacity: 0.8;
        white-space: nowrap;
    }

    tbody tr td select optgroup, tbody tr td select option{
        font-family:  "Montserrat";
        background-color: #1d2025;
    }

    tbody tr:last-child td{
        border-bottom: none;
    }
    .fade-out {animation: fadeOut 0.7s ease-out forwards;}
    thead tr th:hover{cursor: pointer; color: var(--text-clr);}
    tbody tr:hover{background-color: var(--secondary-clr);}

    .shadow{
        color: var(--description-clr);
    }
    .uncategorized{
        font-size: 16px;
        padding: 2px 6px;
        border-radius: 8px;
        text-align: center;
        font-weight: bold;
        color: rgb(179, 32, 32);
        background-color:  rgb(238, 126, 126);
    }
}

.sidemenu{
    position:absolute;
    z-index: 99999;
    padding: 5px;
    width: 5rem;
    display: flex;
    justify-content:flex-start;
    a{ 
        display: flex;
        align-items: center;
        fill: var(--description-clr)
    }
    a:hover{cursor: pointer; fill: var(--warning-clr);}
}