{% extends 'base.html' %}

{% block head %}
<title>Budget - Settings User</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/settings/user.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/settings/user.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/api/users.js') }}" defer></script>
{% endblock %}

{% block body %}
<script>
    document.getElementById("settings-li").classList.add("active");
</script>
<!-- Main -->
<main>
    <header>
        <h4>Users <span id="users-quantity"></span></h4>
    </header>
    <div class="settings-user-section">
        <!--- Add users section --->
        <section class="adduser-container">
            <div class="adduser-header">
                <h4>Add User</h4>
                <p>Removing a user may delete and affect user data.</p>
            </div>
            <div id="addUsersList" class="add-users-list">
                <div class="newuseroption" id="newuseroption"></div>
                <div class="usersbuttons">
                    <a class="show" id="adduser"><strong>+</strong></a>
                    <a class="show" type="submit" id="removeuser"><strong>-</strong></a>
                    <a id="saveuser" name="saveuser" class="hide">v</a>
                    <a id="canceluser" class="hide">x</a>
                </div>
            </div>
        </section>
        <!--- End Add users section --->
    </div>
</main>
<!-- End  Main -->
{% endblock %}