{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='script/home/date_picker.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/home/index.js') }}" defer></script>
<!-- API -->
<script type="text/javascript" src="{{ url_for('static', filename='script/api/subcategories.js') }}" defer></script>
<script type="text/javascript" src="{{ url_for('static', filename='script/api/budget.js') }}" defer></script>
{% endblock %}

{% block body %}
<script>
    document.getElementById("budget-li").classList.add("active");
</script>

<!-- Main -->
<main>
    <header>
        <h4>Budget</h4>
        <div class="date-pagination">
            <a id="date-pagination-left"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path
                        d="M576-240 336-480l240-240 51 51-189 189 189 189-51 51Z" /></svg></a>
            <input type="month" id="datePicker">
            <a id="date-pagination-right"><svg xmlns="http://www.w3.org/2000/svg" height="20px" viewBox="0 -960 960 960" width="20px"><path
                        d="M522-480 333-669l51-51 240 240-240 240-51-51 189-189Z" /></svg></a>
        </div>
        <div class="header-buttons">
            <button id="addButton" title="Add" onclick="addNew.row();">
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px"><path
                        d="M440-440H200v-80h240v-240h80v240h240v80H520v240h-80v-240Z" /></svg>
            </button>
        </div>
    </header>
    <div class="budget-table-and-organizer">
        <section class="budget-table">
            <div class="budget-table-header">
                <div class="budget-table-header-labels">
                    <div class="budget-table-cell category">
                        Category
                    </div>
                    <div class="budget-table-cell assigned">
                        Assigned
                    </div>
                    <div class="budget-table-cell activity">
                        Activity
                    </div>
                    <div class="budget-table-cell available">
                        Available
                    </div>
                </div>
            </div>
            <div class="budget-table-rows-container">
                <div class="budget-table-rows">

                </div>
            </div>
        </section>
        <aside class="organizer">

        </aside>
    </div>
</main>
<!-- End Main -->
{% endblock %}